body {
  width : 100% ;
  padding-top: 70px;
}

.clearfix{
    content:"";
    display: block;
    both: clear;
}

#sidebar {
  float:left;
  margin-right:20px;
  width : 200px;
}

#main {
  float:left;
  position: absolute;
  left: 201px;
  right: 10px;
  top: 60px;
  bottom: 10px;
}

.container {
  width: auto;
  padding: 0 15px;
}

.CodeMirror {
  line-height: 1em;
  font-family: monospace;
  font-size: 15px;
  position: relative;
  float: left;
  margin-left: 5px;
  width: 45%;
  border: 1px solid #eee;
  bottom: 10px;
  height: 100%;
}
@media screen and (min-width: 760px)  and (min-height: 768px){
  .CodeMirror {
    width: 45%;
  }
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}


#markdown_content {
width: 50%;
float: left;
margin-left: 30px;
padding: 5px;
}
