html, body {
  height: 100%;
}

body {
  width : 99% ;
  padding-top: 50px;
}

.clearfix{
  content:"";
  display: block;
  both: clear;
}

#sidebar {
  float:left;
  margin-right:20px;
  overflow:auto;
  height: 100%;
  padding-bottom:30px;
}

.main {
  float:left;
  position: absolute;
  right: 10px;
  top: 60px;
  bottom: 10px;
  padding-bottom:30px;
}

.markdown_content {
  display:block;
  height:100%;
  overflow:auto;
}

.container {
  width: auto;
  padding: 0 15px;
}

.CodeMirror {
  font-family: monospace;
  font-size: 15px;
  position: relative;
  float: left;
  margin-left: 5px;
  width: 100%;
  border: 1px solid #eee;
  bottom: 10px;
  height: 100%;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

/*
#markdown_content {
width: 50%;
float: left;
margin-left: 30px;
padding: 5px;
}
*/
