<!DOCTYPE html>
<html>
<head>
    <title>suzuri</title>
<link rel="stylesheet" href="../components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../components/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="../components/codemirror/theme/lesser-dark.css">
<link rel="stylesheet" href="../components/codemirror/theme/3024-day.css">
<link rel="stylesheet" href="../components/codemirror/theme/3024-night.css">
<link rel="stylesheet" href="../components/codemirror/theme/ambiance.css">
<link rel="stylesheet" href="../components/codemirror/theme/base16-dark.css">
<link rel="stylesheet" href="../components/codemirror/theme/base16-light.css">
<link rel="stylesheet" href="../components/codemirror/theme/blackboard.css">
<link rel="stylesheet" href="../components/codemirror/theme/cobalt.css">
<link rel="stylesheet" href="../components/codemirror/theme/eclipse.css">
<link rel="stylesheet" href="../components/codemirror/theme/elegant.css">
<link rel="stylesheet" href="../components/codemirror/theme/erlang-dark.css">
<link rel="stylesheet" href="../components/codemirror/theme/lesser-dark.css">
<link rel="stylesheet" href="../components/codemirror/theme/mbo.css">
<link rel="stylesheet" href="../components/codemirror/theme/midnight.css">
<link rel="stylesheet" href="../components/codemirror/theme/monokai.css">
<link rel="stylesheet" href="../components/codemirror/theme/neat.css">
<link rel="stylesheet" href="../components/codemirror/theme/night.css">
<link rel="stylesheet" href="../components/codemirror/theme/paraiso-dark.css">
<link rel="stylesheet" href="../components/codemirror/theme/paraiso-light.css">
<link rel="stylesheet" href="../components/codemirror/theme/pastel-on-dark.css">
<link rel="stylesheet" href="../components/codemirror/theme/rubyblue.css">
<link rel="stylesheet" href="../components/codemirror/theme/solarized.css">
<link rel="stylesheet" href="../components/codemirror/theme/the-matrix.css">
<link rel="stylesheet" href="../components/codemirror/theme/tomorrow-night-eighties.css">
<link rel="stylesheet" href="../components/codemirror/theme/twilight.css">
<link rel="stylesheet" href="../components/codemirror/theme/vibrant-ink.css">
<link rel="stylesheet" href="../components/codemirror/theme/xq-dark.css">
<link rel="stylesheet" href="../components/codemirror/theme/xq-light.css">


<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" title="github" href="../components/highlight.js/src/styles/github.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
<button type="button" class="btn btn-default navbar-btn" data-bind="click: newFile">NewFile</button>
<button type="button" class="btn btn-default navbar-btn" data-bind="click: addFile">OpenFile</button>
<button type="button" class="btn btn-default navbar-btn" data-bind="click: saveFile">SaveFile</button>

<!-- Button trigger modal -->
<button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">
<span class="glyphicon glyphicon-cog"></span>
</button>

<a class="navbar-brand" href="#">SUZURI</a>
  </div>
</nav>
<div class="row" style="height:100%;padding-bottom:50px;">
<div id="sidebar" class="col-md-2">
  <div class="filelist" class="list-group" data-bind="foreach: filelist">
  <a href="#" class="list-group-item" data-bind="click: $parent.selectFile"> 
    <span data-bind="text: name" style="text-overflow: ellipsis;"></span>
    <span class="glyphicon glyphicon-remove pull-right" data-bind="click: $parent.removeFile"></span>
  </a>
  </div>
</div>

<div class="main col-md-10">
<div class="row" style="height:100%">
<div class="col-md-6" style="height:100%">
<textarea id="markdown_code" data-bind="text: selectedFile.data">test</textarea>
</div>
<div id="markdown_content" class="markdown_content col-md-6"></div>
</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="height:30px">
  <div class="navbar-text navbar-left">
    <p class="text-muted" id="file_path">Place sticky footer content here.</p>
  </div>
  <div class="navbar-text navbar-right" style="padding-right:10px">
    <p class="text-muted" id="word_count">Place sticky footer content here.</p>
  </div>
</nav>

<div id="fileTags">
<input style="display:none;" id="openFile" type="file" />
<input style="display:none;" id="saveFile" type="file" nwsaveas />
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div>
          <label>KeyMap</label>
          <label class="radio-inline">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="default" data-bind="checked: keyMap">
            Normal
          </label>
          <label class="radio-inline">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="vim" data-bind="checked: keyMap">
              Vim
          </label>
          <label class="radio-inline">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="emacs" data-bind="checked: keyMap">
              emacs
          </label>
        </div>
        <div>
          <label>editor's therme</label>
          <select class="form-control" data-bind="options: codeThemeList, value: codeTheme"></select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bind="click: saveOption">Save changes</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
<script type="text/javascript" src="../components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../components/knockout.js/knockout.js"></script>
<script type="text/javascript" src="../components/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="../components/codemirror/keymap/vim.js"></script>
<script type="text/javascript" src="../components/codemirror/keymap/emacs.js"></script>
<script type="text/javascript" src="../components/codemirror/mode/markdown/markdown.js"></script>
<script type="text/javascript" src="../js/index.js"></script>

